
landing1/.idea/modules.xml
landing1/.idea/workspace.xml
landing1/.idea/vcs.xml
landing1/.idea/misc.xml
landing1/.idea/landing1.iml
project2/.idea/workspace.xml
project2/.idea/vcs.xml
project2/.idea/project2.iml
project2/.idea/modules.xml
project2/.idea/misc.xml
project2/.idea/watcherTasks.xml
project2/Зачетный макет-assets/browser-center.jpg
project2/Зачетный макет-assets/browser-left.jpg
project2/Зачетный макет-assets/browser-right.jpg
project2/Зачетный макет-assets/icon (1).svg
project2/Зачетный макет-assets/icon (2).svg
project2/Зачетный макет-assets/icon (3).svg
project2/Зачетный макет-assets/icon-cart.svg
project2/Зачетный макет-assets/icon-search.png
project2/Зачетный макет-assets/icon.svg
project2/Зачетный макет-assets/logos.svg
project2/Зачетный макет-assets/photo.jpg
