@import "veriables";
@import "mixin_for_font";
@import "mixins";

.services {
  width: 100%;
  background-color: $section-color-l;
  display: flex;
  justify-content: center;
  padding: 80px 0;
  box-sizing: border-box;
}

.services-elem-wrap {
  display: flex;
  flex-direction: column;
  width: 270px;
  color: $color-title;
  svg {
    display: block;
    fill: $color-title;
    margin: 0 auto;
    height: 49px;
  }
  &:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 0 auto;
    align-self: flex-end;
  }
  &:hover {
    svg {
      fill: $color-hover;
    }
    .section-h2 {
      color: $color-hover;
    }
    &:after {
      background-color: $color-hover;
    }
  }
}

.section-h2 {
  font-family: "Raleway Semibold", sans-serif;
  color: $color-title;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.section-p {
  font-family: "Montserrat Light", sans-serif;
  color: $color-p;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.realisation_ideas {
  background-color: $section-color-d;
  &-wrap {
    max-width: 100%;
    width: 1230px;
    margin: 0 auto;
    padding-top: 58px;
    position: relative;
  }
  &-h2 {
    font-family: "Raleway Semibold", sans-serif;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: $color-title;
  }
  &-p {
    font-family: "Montserrat Light", sans-serif;
    width: 770px;
    margin: 24px auto 40px auto;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
  }
  &-img {
    display: block;
    width: 770px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    background-color: $background-img-color;
  }
  &-img:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    &:hover {
      z-index: 3;
    }
  }
  &-img:nth-child(5) {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    &:hover {
      z-index: 3;
    }
  }
}

.wordpress {
  background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  &-wrap {
    max-width: 100%;
    width: 1170px;
    padding: 45px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-wrap-text {
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  &-h2 {
    font-family: "Raleway Regular", sans-serif;
    color: $color-white;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    margin: 0 0 8px 0;
    span {
      color: $color-hover;
    }
  }
  &-p {
    font-family: "Montserrat Light", sans-serif;
    color: #615855;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    margin: 0;
  }
  &-button {
    @include button;
  }
}

.projects {
  background-color: $section-color-l;
  padding: 80px 0;
  &-h2 {
    font-family: "Raleway Semibold", sans-serif;
    width: 100%;
    margin: 0 auto 24px auto;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: $color-title;
  }
  &-p {
    font-family: "Montserrat Light", sans-serif;
    max-width: 770px;
    margin: 24px auto 40px auto;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
  }
  &-buttons-wrap {
    width: 615px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
  }
  &-button {
    margin: 0 5px;
    border: solid 1px #ebebeb;
    border-radius: 3px;
    padding: 7px 20px;
    color: $color-p;
    background-color: $section-color-d;
    font-family: "Montserrat Light", sans-serif;
    font-size: 14px;
    outline: none;
    &:hover {
      color: white;
      background-color: #998675;
      border-color: #998675;
    }
    &:active {
      color: white;
      background-color: lighten(#998675, 15%);
      border-color: #998675;
    }
  }
  &-button-load {
    @include button;
    outline: none;
    margin: 40px auto 0;
  }
}

.preview_wrap {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.preview {
  margin-bottom: 30px;
  position: relative;
  &-img {
    background-color: $background-img-color;
    width: 370px;
    height: 237px;
    margin-bottom: -4px;
  }
  &-text_wrap {
    background-color: #fbfaf8;
    padding: 28px 30px 20px 30px;
    position: relative;
    &:after {
      content: "";
      border: 15px solid transparent;
      border-bottom: 10px solid #fbfaf8;
      position: absolute;
      left: 19px;
      top: -25px;
    }
  }
  &-title {
    font-family: "Raleway Medium", sans-serif;
    color: $color-hover;
    font-size: 20px;
    text-align: left;
  }
  &-p {
    font-family: "Montserrat Light", sans-serif;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
  }
  &-link, &-view {
    display: none;
    width: 26px;
    height: 26px;
    border: none;
    outline: none;
    position: absolute;
    top: 106px;
  }
  &-link {
    background: url("../img/icons/link.png") center no-repeat;
    left: 145px;
    &:hover {
      background: url("../img/icons/link-hover.png") center no-repeat;
    }
  }
  &-view {
    background: url("../img/icons/lupa.png") center no-repeat;
    right: 145px;
    &:hover {
      background: url("../img/icons/lupa-hover.png") center no-repeat;
    }
  }
  &:hover {
    .preview-img {
      filter: brightness(0.4);
    }
    .preview-text_wrap {
      background-color: #362f2d;
      &:after {
        border-bottom-color: #362f2d;
      }
    }
    .preview-link, .preview-view {
      display: block;
    }
  }
}

.video_presentation {
  width: 100%;
  position: relative;
  &-video {
    width: 100%;
  }
  &-layer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top, rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0.5));
    width: 100%;
    height: 99.5%;
    position: absolute;
    top: 0;
    left: 0;
    &-play_btn {
      display: block;
      width: 100px;
      height: 100px;
      margin: 0 auto 40px;
      align-items: center;
      border-radius: 50%;
      border: none;
      outline: none;
      fill: white;
      background-color: rgba(0, 0, 0, 0.2);
      &:hover {
        fill: $color-hover;
      }
      &--hide {
        display: none;
      }
    }
    &-title {
      display: block;
      width: 100%;
      font-family: "Raleway Medium", sans-serif;
      color: #ffffff;
      font-size: 30px;
      text-align: center;
    }
    &-p {
      max-width: 570px;
      margin: 30px auto 0 auto;
      font-family: "Montserrat Light", sans-serif;
      color: #ffffff;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
    }
    &-time {
      margin-top: 40px;
      display: block;
      width: 100%;
      font-family: "Montserrat Regular", sans-serif;
      color: #c7b299;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
    }
  }
}

.mobile_devices {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 80px;
  background-color: $section-color-d;
  &-img {

  }
  &-wrap_text {
    width: 670px;
    padding-left: 30px;
    margin-top: -40px;
    align-self: center;
  }
  &-h2 {
    font-family: "Raleway Semibold", sans-serif;
    color: #555555;
    font-size: 30px;
    text-align: left;
  }
  &-p {
    font-family: "Montserrat Light", sans-serif;
    color: #8c8c8c;
    font-size: 16px;
    line-height: 28px;
    margin: 30px 0;
  }
  &-features {
    font-family: "Montserrat Light", sans-serif;
    color: #8c8c8c;
    font-size: 16px;
    line-height: 32px;
    list-style: none;
    padding-left: 50px;
    li {
      position: relative;
      padding-left: 50px;
    }
    li:before {
      content: '';
      background-image: url("../img/icons/icon_li.png");
      position: absolute;
      width: 21px;
      height: 21px;
      left: 0;
      top: 5px;
    }
  }
}

.counters {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 69px 0 60px;
  background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  &-wrap_elem {
    width: 200px;
    &:after {
      content: "";
      display: block;
      width: 30px;
      height: 2px;
      background-color: #ffffff;
      margin: 0 auto;
      align-self: flex-end;
    }
    &-icon {
      fill: $background-img-color;
      width: 100%;
      height: 44px;
      align-items: center;
    }
    &-count {
      display: block;
      font-family: "Montserrat ExtraLight", sans-serif;
      color: #ffffff;
      font-size: 48px;
      line-height: 36px;
      text-align: center;
      margin: 30px 0 13px;
    }
    &-text {
      display: block;
      font-family: "Montserrat Light", sans-serif;
      color: #c7b299;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      margin: 10px 0 24px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.recent_posts {
  width: 100%;
  padding: 80px 0;
  background-color: $section-color-l;
  &-h2 {
    width: 100%;
    font-family: "Raleway Semibold", sans-serif;
    color: $color-title;
    font-size: 30px;
    text-align: center;
    margin-top: 0;
  }
  &-p {
    width: 770px;
    margin: 10px auto;
    font-family: "Montserrat Light", sans-serif;
    color: $color-p;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  &-wrap {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-elem {
    width: 370px;
    margin: 40px 0;
    position: relative;
    &-img {
      width: 370px;
      height: 220px;
      background: $background-img-color;
    }
    &-text {
      border: 1px solid #f8f8f8;
      border-top: none;
      box-sizing: border-box;
      padding: 30px;
      margin-top: -4px;
    }
    &-title {
      font-family: "Raleway Medium", sans-serif;
      color: $color-title;
      font-size: 20px;
      text-align: left;
    }
    &-p {
      font-family: "Montserrat Light", sans-serif;
      color: $color-p;
      font-size: 14px;
      font-weight: bold;
      line-height: 22px;
      text-align: left;
    }
    &-link {
      font-family: "Montserrat Light", sans-serif;
      color: $color-hover;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      text-align: left;
      position: relative;
      &:hover {
        color: lighten(#c7b29a, 15%);
        &:after {
          border-left-color: lighten(#c7b29a, 15%);
        }
      }
      &:active {
        color: #fff;
        &:after {
          border-left-color: #ffffff;
        }
      }
      &:after {
        content: "";
        border: 5px solid transparent;
        border-left: 5px solid #c7b29a;
        position: absolute;
        left: 84px;
        top: 2px;
      }
    }
    &-date {
      position: absolute;
      width: 50px;
      height: 60px;
      top: 20px;
      left: 20px;
      z-index: 1;
      &-number {
        display: block;
        padding: 4px 3px;
        font-family: "Montserrat Light", sans-serif;
        color: #ffffff;
        font-size: 24px;
        text-align: center;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background-color: #363636;
      }
      &-month {
        display: block;
        padding: 5px 3px;
        font-family: "Roboto Regular", sans-serif;
        color: #ffffff;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: #252525;
      }
    }
    &:hover {
      .recent_posts-elem-img {
        filter: brightness(0.3);
      }
      .recent_posts-elem {
        &-text {
          background-color: #362f2d;
          border-color: transparent;
        }
        &-title {
          color: #c7b299;
        }
        &-p {
          color: #fff;
        }
        &-date {
          &-number {
            background-color: #c7b299;
          }
          &-month {
            background-color: #a48d72;
          }
        }
      }
    }
  }
  &-btn-wrap {
   width: 64px;
    margin: 0 auto;
  }
  &-btn {
    width: 22px;
    height: 22px;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    margin: 0 4px;
    fill: #d1d1d1;
    &:hover {
      fill: $color-hover;
    }
  }
}

.post-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 177px;
  left: 125px;
  &-link {
    display: block;
    width: 11px;
    height: 11px;
    margin: 4px;
    background: white;
    opacity: 0.5;
    border: 2px solid #343536;
    border-radius: 50%;
    &:hover {
      background-color: transparent;
      border-color: white;
    }
    &:active {
      opacity: 0.9;
    }
  }
}