@import "mixins";

@include font-face("Montserrat Light", "../fonts/montserrat-light", 300);
@include font-face("Raleway Regular", "../fonts/raleway-regular", 400);

$font-logo: "Raleway Regular", sans-serif;
$font-small-text: "Montserrat Light", sans-serif;
$color-white: #fff;
$color-hover: #c7b29a;