@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/montserrat-light.ttf");
}

$font-logo: "Raleway Regular", sans-serif;
$font-small-text: "Montserrat Light", sans-serif;
$color-white: #fff;
$color-hover: #c7b29a;