@import "veriables";

.main-header {
  display: flex;
  background-color: rgba(17, 17, 17, 0.7);
  flex-wrap: wrap;
  justify-content: center;
}

.logo-block {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-white;
  margin: 0 19.6% 0 0;
  &:hover {
    color: $color-hover;
    .logo {
      fill: $color-hover
    }
  }
}

.logo-text {
  font-family: $font-logo;
  font-size: 34px;
  font-weight: 400;
}

.logo {
  fill: $color-white;
}

.header-nav {
  li {
    display: inline;
  }
  a {
    font-family: $font-small-text;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: $color-white;
    margin: 0 15px;
    &:hover {
      color: $color-hover;
    }
  }
}

.slider {
  width: 100%;
}